{{> navbar-block}}

<section>
    <div class="container-lg">
        <div class="row my-5 mx-1">
            <div class="d-none d-sm-block col-lg-5 px-0">
                <div class="image-shadow">
                    <img src="{{photo}}" alt="Headshot" class="img-responsive">
                </div>
            </div>
            <div class="about-me col-lg-7">
                <div id="bio">
                    <p>{{bio}}</p>
                </div>
                <div id="info">
                    <div class="d-inline"><a href="/portfolio"><button class="btn btn-slate btn-lg"><i class="fas fa-laptop-code"></i> Portfolio</button></a></div>
                    <div class="d-inline"><a href="{{resume}}" target="_blank"><button class="btn btn-slate btn-lg"><i class="fas fa-file"></i> Resume</button></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://kit.fontawesome.com/b76a162850.js" crossorigin="anonymous"></script>
<script src="/js/about.js"></script>