{{> navbar-block}}

<section>
    <div class="container-lg">
      {{#each projects}}
        {{> project-block}}
      {{/each}}
    </div>
</section>

<script src="https://kit.fontawesome.com/b76a162850.js" crossorigin="anonymous"></script>
<script src="/js/portfolio.js"></script>